sphinx>=7.4.7,<8
pydata-sphinx-theme>=0.16.1,<0.17
myst-parser>=3.0.1,<4
sphinx_autodoc_typehints>=2.3.0,<2.4.0
sphinx_copybutton>=0.5.2,<0.6
sphinx_design>=0.6.1,<0.7
sphinx-autobuild>=2024.10.3,<2024.11